section.banner
	img.banner__img(src='img/cards.png', srcset='img/cards@2x.png 2x,\
img/cards@3x.png 3x' alt='карты')
	.banner__info
		h2.banner__title Карты для вас  прямо сейчас
		p.banner__text Выбирайте карту, пользуйтесь удобными сервисами
		a.banner__btn(href="#", title="Оформить заявку") Оформить заявку