footer.footer
	.footer__container
		.footer__group
			.footer__menus
				ul.footer__menulist
					li.footer__menuitem
						a.footer__menulink(href="#") О банке
					li.footer__menuitem
						a.footer__menulink(href="#") Тинькофф Банк
					li.footer__menuitem
						a.footer__menulink(href="#") Новости
					li.footer__menuitem
						a.footer__menulink(href="#") Вакансии
					li.footer__menuitem
						a.footer__menulink(href="#") For Investors
				ul.footer__menulist
					li.footer__menuitem
						a.footer__menulink(href="#") Страхование
					li.footer__menuitem
						a.footer__menulink(href="#") Автомобиль
					li.footer__menuitem
						a.footer__menulink(href="#") Жизнь и здоровье
					li.footer__menuitem
						a.footer__menulink(href="#") Путешествия
					li.footer__menuitem
						a.footer__menulink(href="#") Имущество
				ul.footer__menulist
					li.footer__menuitem
						a.footer__menulink(href="#") Карты
					li.footer__menuitem
						a.footer__menulink(href="#") Кредитные карты
					li.footer__menuitem
						a.footer__menulink(href="#") Дебетовые карты
				ul.footer__menulist
					li.footer__menuitem
						a.footer__menulink(href="#") Вклады
					li.footer__menuitem
						a.footer__menulink(href="#") Ставки по вкладам
					li.footer__menuitem
						a.footer__menulink(href="#") Тарифы
			.footer__left
				.footer__calltome
					.footer__phonenumber
						a.footer__phone(href="tel:+78005001122") 8 800 500-11-22
						.footer__callinfo Для звонков по России
					a.footer__callbtn(href="#" title="Онлайн-звонок в банк") Онлайн-звонок в банк
				.footer__socials
					a.footer__social.footer__social_vk(href="#" title="vk") vk
					a.footer__social.footer__social_facebook(href="#" title="facebook") facebook
					a.footer__social.footer__social_twitter(href="#" title="twitter") twitter
					a.footer__social.footer__social_ok(href="#" title="ok") ok
					a.footer__social.footer__social_gp(href="#" title="g+") g+
					a.footer__social.footer__social_youtube(href="#" title="youtube") youtube
			.footer__admenu
				a.footer__admenuitem(href="#") Курсы валют
				a.footer__admenuitem(href="#") Мобильные приложения
				a.footer__admenuitem(href="#") Карта сайта
				a.footer__admenuitem(href="#") Информация о лицах, под контролем которых находится банк
		.footer__bottom
			.footer__copyright © 2006–2015, АО «Тинькофф Банк»,  официальный сайт, лицензия ЦБ РФ № 2673
			a.footer__lang(href="#" title="на англ. версию")
				span.footer__langtext English