header.header
	.container
		.header__container
			a.header__logo(href="#" title="Тинькофф Банк")
				include svg/logo.html
			a.header__phone(href="tel:+7 800 555-11-22" title="Звони!") 8 800 555-11-22