nav.nav
	.container
		ul.nav__list
			li.nav__item.nav__item_active
				a.nav__link(href="#") Карты
			li.nav__item
				a.nav__link(href="#") Вклады
			li.nav__item
				a.nav__link(href="#") Платежи и переводы
			li.nav__item
				a.nav__link(href="#") Бонусы
			li.nav__item
				a.nav__link(href="#") Страхование
			li.nav__item
				a.nav__link(href="#") О банке