.searchtags
	.searchtags__tag Кафе
	.searchtags__tag Интернет
	.searchtags__tag Телефон
	.searchtags__tag Авто
	.searchtags__tag ЖКХ
	.searchtags__tag Одкжда и обувь
	.searchtags__tag Супермареты, гастрономы, универсамы
	input.searchtags__input(type="text" placeholder="введите текст...")