.main__title {
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	color: #333333;
	line-height: 58px;
	margin-top: 82px;
	@include sm-down {
		font-size: 30px;
		line-height: 1.2;
		margin-top: 29px;
		margin-bottom: 24px;
	}
}
.main__subtitle {
	margin-top: 0;
	font-size: 50px;
	line-height: 1.08;
	font-weight: 300;
	text-align: center;
	color: #333333;
	max-width: 540px;
	@include automargin;
	@include sm-down {
		font-size: 30px;
		line-height: 1.2;
	}
}





