.orderform {
	max-width: 540px;
	@include automargin;
	overflow: hidden;
}
.orderform__formgroup {
	border-radius: 6px;
	margin-bottom: 24px;
	position: relative;
	z-index: 0;
}

.orderform__label {
	opacity: 0.6;
	font-size: 13px;
	line-height: 15px;
	color: #74a3c7;
	position: absolute;
	top: 12px;
	left: 19px;
	z-index: 1;
}

.orderform__text {
	width: 100%;
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 17px;
	color: #333333;
	position: relative;
	padding: 27px 19px 14px;
	height: 66px;
	border-radius: 6px;
	background-color: #eef2f7;
	border: 1px solid #eef2f7;
	background-image: none !important;
	&:focus {
		outline: none;
		background-color: #fff;
		border: 1px solid #dddfe0;
	}
}
.orderform__formgroup_haserror .orderform__text {
	border: solid 1px #d0011b;
	background-color: #fff;
	&:focus {
		border:  1px solid #d0011b;
		
	}
}
.orderform__formgroup_haserror .orderform__icon {
		position: absolute;
		right: 18px;
		top: 21.8px;
		content: '';
		width: 23px;
		height: 23px;
		background-image: url(../img/haserror.svg);
		cursor: pointer;
	}




.orderform__formmessage {
	font-size: 13px;
	color: #d0021b;
	display: block;
	margin-top: 11px;
}
.orderform__tooltip {
	max-width: 284px;
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 1px #dddfe0;
	padding: 16px;
	font-size: 13px;
	line-height: 1.38;
	letter-spacing: normal;
	color: #9299a2;
	position: absolute;
	z-index: 2;
	top: -20px;
	display: none;
	right: 50px;
}



.orderform__icon {
		position: absolute;
		right: 18px;
		top: 21.8px;
		content: '';
		width: 23px;
		height: 23px;
		background-image: url(../img/haserror.svg);
		cursor: pointer;
	&_question  {
		background-image: url(../img/question.svg);
	}
}
.orderform__icon:hover + .orderform__tooltip,
.orderform__icon:focus + .orderform__tooltip {
	display: block;

}


.orderform__thisorthat {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 49px;
	@include sm-down {
		margin-bottom: 48px;
	}
}
.orderform__subtitle {
	font-size: 21px;
	font-weight: 300;
	text-align: center;
	color: #333333;
	margin-bottom: 27px;
	margin-top: 39px;
	@include xs {
		margin-bottom: 26px;
	}
}
.orderform__checklabel {
	width: calc(50% - 12px);
	height: 66px;
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 1px #dddfe0;
	position: relative;
	padding-left: 21px;
	cursor: pointer;
	@include xs {
		width: 100%;
		margin-bottom: 24px;
	}
}
.orderform__checkbox {
	display: none;
}
.orderform__checkbox + .orderform__checktext {
	width: 57px;
	line-height: 66px;
	font-size: 17px;
	color: rgba(116, 163, 199, 0.6);
}
.orderform__checkbox:checked + .orderform__checktext {
	color: #333333;
}
.orderform__checkbox + .orderform__checktext:after {
	content: '';
	display: block;
	position: absolute;
	top: 18px;
	right: 18px;
	height: 30px;
	width: 30px;
	background-color: #eef2f7;
	border-radius: 50%;
	top: 17px;
}
.orderform__checkbox:checked + .orderform__checktext:after {
	background-color: #3e4757;
	border: 11px solid #ffdd2d;
}


.orderform__submit	{
	@include btn;
	@include automargin;
	margin-bottom: 57px;

	width: 258px;
	height: 66px;
	@include sm-down  {
		width: 100%;
		margin-bottom: 60px;
	}
	
}