<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		include  ../blocks/og
		+og('Тинькоф банк', 'Тинькофф банк приветствует вас!', 'http://tinkoff.velkomb.com/')
		title 
			block title
				| Привет, это Тинькофф Банк!
		include ../blocks/favicon
		link(href="css/main.css", rel="stylesheet", media="screen")
		link(rel='stylesheet', href='https://unpkg.com/gutenberg-css@0.4', media='print')
		link(rel='stylesheet', href='https://unpkg.com/gutenberg-css@0.4/dist/themes/oldstyle.min.css', media='print')

	body
		block body
			h1 Привет Тинькофф Банк!
		script(src="js/main.js")